 {% extends './layout.html' %} {% block title %} 详情 {% endblock %} {% block head %}
<link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/toolbar.css">
<link rel="stylesheet" href="css/detail.css">
<link rel="stylesheet" href="css/weibu.css"> {% endblock %} 
{% block content %}
{% include "./header.html" %}
<div class="header">
    <div class="head-main wide clearfix">
        <div class="logo">
            <a href="/"></a>
        </div>
        <div class="hd-search">
            <div class="hot-tag">
                <span>热门搜索:</span>
                <a href="">松子</a>
                <a href="">牛肉</a>
                <a href="">话梅</a>
                <a href="">花生瓜子</a>
                <a href="">核桃</a>
                <a href="">开心果</a>
            </div>
            <div class="search-area">
                <form action="" method="get" id="productSearchForm" target="_blank">
                    <input type="text" name="keyword" id="keyword" value="商品关键字" onfocus="if(value==='商品关键字'){value=''}" onblur="if(value===''){value='商品关键字'}"
                    />
                    <input type="submit" value="" class="ser-btn" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="content-detail">
    <div class="detail-img">
        <div class="dimg1"></div>
        <ul class="dimg2">
            <li>
                <img class="img1" alt="">
            </li>
            <li>
                <img class="img2" alt="">
            </li>
            <li>
                <img class="img3" alt="">
            </li>
            <li>
                <img class="img4" alt="">
            </li>
            <li>
                <img class="img5" alt="">
            </li>
        </ul>
    </div>
    <div class="detail-buy">
        <p class="detail-title"></p>
        <div class="detail-price">
            <dl class="cuxiao">
                <dt>促销价</dt>
                <dd>
                    <div class="price">
                        <span class="rmb">￥</span>
                        <span class="Price">29.9</span>
                        <em class="type">爆款促销</em>
                    </div>
                </dd>
            </dl>
            <dl class="panel">
                <div class="promotion">
                    <dt class="huodong">本店活动</dt>
                    <dd>满88元，包邮</dd>
                </div>
            </dl>
            <div class="baoyou">
                <span class="tip">不包邮地区：</span>
                <span class="area">台湾;香港;澳门;海外;新疆</span>
            </div>
        </div>
        <div class="meta">
            <dl>
                <span class="delivery">运费</span>
                <span class="route">湖北武汉至 黄山 快递: 0.00</span>
            </dl>
        </div>
        <ul class="selling">
            <li>积分
                <i>13</i>
            </li>
        </ul>
        <div class="jiagou">
            <div class="kouwei">食品口味
                <div class="desc">原味108g×3袋</div>
            </div>
            <div class="count">数量
                <input class="num" placeholder="1" value="1"></input>
                <div class="add">︿</div>
                <div class="reduce">﹀</div>
            </div>
            <div class="gou">
                <div class="instant">立即购买</div>
                <div class="buycart">
                    <a href="shop.html">加入购物车</a>
                </div>
            </div>
        </div>
        <div class="req">
            <dl>
                <span class="promise">服务承诺</span>
                <span class="service">破损包退 正品保证 急速退款 赠运费险 七天无理由退换货</span>
            </dl>
        </div>
    </div>
</div>
<!-- 右侧边导航栏 -->
<div class="rtoolbar">
    <ul>
        <li>
            <div class="icon">
                <a href="#">
                    <i class="tab-ico member"></i>
                    <em class="tab-text">良品会员</em>
                </a>
            </div>
        </li>
        <li>
            <div class="icon1">
                <a href="shop.html">
                    <i class="tab-ico cart"></i>
                    <span class="carttext">购物车</span>
                    <i class="cart-num"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="icon">
                <a href="#">
                    <i class="tab-ico focus"></i>
                    <em class="tab-text">我的关注</em>
                </a>
            </div>
        </li>
        <li>
            <div class="icon">
                <a href="#">
                    <i class="tab-ico qrcode"></i>
                    <p class="qrdesc"></p>
                </a>
            </div>
        </li>
        <li>
            <div class="icon">
                <a href="javascript:window.scrollTo(0,0);">
                    <i class="tab-ico tabtop"></i>
                    <em class="tab-text">回到顶部</em>
                </a>
            </div>
        </li>
    </ul>
</div>
<div class="goods-detail">
    <div class="tooldetail">
        <div class="detailList">商品详情</div>
        <div class="goodsReviews">累计评价 945233</div>
    </div>
    <div class="details">
        <p class="qs">商品具有生产许可证编号，符合食品质量安全准入标准。</p>
        <div class="canshu Detail">
            <p class="logo">品牌名称：良品铺子</p>
            <p class="can">产品参数：</p>
            <ul class="content"></ul>
        </div>
        <div class="date">生产日期: 2017-11-28 至 2018-02-06</div>
        <div class="parameter Detail">
            <img src="./imgs/buywl.jpg" alt="">
            <img src="./imgs/buyleader.png" alt="">
        </div>
        <div class="baozhang Detail"></div>
        <script src="./js/module.js"></script>
        <script src="./js/slider1.js"></script>
        <script src="./js/config2.js"></script>
        <div class="showing Detail"></div>
    </div>
    <div class="rate">
        <div class="rate-header">
            <div class="rate-score">
                <h4>与描述相符</h4>
                <strong>4.9</strong>
            </div>
            <div class="rate-tag-box">
                <div class="rate-label">
                    <span>大家都写到</span>
                </div>
                <div class="rate-list" style="height:70px;">
                    <div class="rate-inner" style="overflow:hidden">
                        <span class="tag-posi">
                            <a href="">味道不错</a>
                        </span>
                        <span class="tag-posi">
                            <a href="">快递不错</a>
                        </span>
                        <span class="tag-posi">
                            <a href="">香味浓郁</a>
                        </span>
                        <span class="tag-posi">
                            <a href="">很划算</a>
                        </span>
                        <span class="tag-posi">
                            <a href="">质量好</a>
                        </span>
                        <span class="tag-posi">
                            <a href="">人群</a>
                        </span>
                        <span class="tag-neg">
                            <a href="">不便宜</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="rate-toolbar">
            <span class="rate-filter">
                <input type="radio" name="" id="">
                <label for="">全部</label>
                <input type="radio" name="" id="">
                <label for="">追评</label>
                <input type="radio" name="" id="">
                <label for="">图片</label>
                <input type="radio" name="" id="">
                <label for="">试用报告</label>
            </span>
        </div>
        <div class="rate-grid">
            <table>
                <tbody>
                    <tr>
                        <td class="col-master">
                            <div class="rate-content">酸甜可口，谢谢掌柜的，包装很棒</div>
                            <div class="rate-date">03.02</div>
                        </td>
                        <td class="col-meta">
                            <div class="rate-sku">
                                <p>
                                    <span>食品口味：</span>
                                    原味108gx3袋
                                </p>
                            </div>
                        </td>
                        <td class="col-author">
                            <div class="rate-user-info">
                                加
                                <span>***</span>4
                                <span>(匿名)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-master">
                            <div class="rate-content">巴旦木选的是奶香的那种 但是发现并没有想象中的好吃 原味？夏威夷果有点硬 可能人老了 牙口不太好 猪肉粒 牛板筋 还可以 比较喜欢是芒果干和香肠 香肠的料非常足 很有良心 薯片的话感觉没有什么差别 柠檬片还没有吃</div>
                            <div class="rate-date">01.19</div>
                        </td>
                        <td class="col-meta">
                            <div class="rate-sku">
                                <p>
                                    <span>食品口味：</span>
                                    奶油味
                                </p>
                            </div>
                        </td>
                        <td class="col-author">
                            <div class="rate-user-info">
                                乐
                                <span>***</span>云
                                <span>(匿名)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-master">
                            <div class="rate-content">还是第一次在网上买良品铺子的宝贝。先说一下发货，发货挺快的。到货也挺快的嘛！包装盒完好。打开盒子里看到了里面的芒果干。味道闻起来清甜，颜色黄黄的。吃起了满口留香。真真的是不错。吃完后还会回来买的。香甜香甜的。</div>
                            <div class="rate-date">02.15</div>
                        </td>
                        <td class="col-meta">
                            <div class="rate-sku">
                                <p>
                                    <span>食品口味：</span>
                                    原味
                                </p>
                            </div>
                        </td>
                        <td class="col-author">
                            <div class="rate-user-info">
                                天
                                <span>***</span>下
                                <span>(匿名)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-master">
                            <div class="rate-content">首先说我是个良粉，偶然一个机会，在茫茫网购中选择了良品铺子，到现在年前年后也两个年头了，最初的时候买了几种尝试，现在成箱买来吃，这次赶上了满300使用50优惠券的活动，香辣风干牛肉肉质好，一丝一丝的，不是很辣，肉大小比糖块大点，算干一点的牛肉干。日期是1月。</div>
                            <div class="rate-date">01.22</div>
                        </td>
                        <td class="col-meta">
                            <div class="rate-sku">
                                <p>
                                    <span>食品口味：</span>
                                    原味108gx3袋
                                </p>
                            </div>
                        </td>
                        <td class="col-author">
                            <div class="rate-user-info">
                                月
                                <span>***</span>凉
                                <span>(匿名)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-master">
                            <div class="rate-content">过节买了一大堆零食，菠萝干和芒果干最好吃，鱼和豆皮味道不错，就是太辣了，有些受不了。什锦酸奶果粒块比较好吃，口味独特，比想象的好，后悔买少了，还会再买。总体好评！</div>
                            <div class="rate-date">03.02</div>
                        </td>
                        <td class="col-meta">
                            <div class="rate-sku">
                                <p>
                                    <span>食品口味：</span>
                                    菠萝干108gx3袋
                                </p>
                            </div>
                        </td>
                        <td class="col-author">
                            <div class="rate-user-info">
                                至
                                <span>***</span>人
                                <span>(匿名)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-master">
                            <div class="rate-content">买了一堆，只吃了一个话梅，味道还可以。以前经常吃良品铺子的零食，对质量还是有信心和把握的。只是这次遇到了暴力快递？箱子有点破了但是不影响。物流速度还是不错，总体好评。</div>
                            <div class="rate-date">01.02</div>
                        </td>
                        <td class="col-meta">
                            <div class="rate-sku">
                                <p>
                                    <span>食品口味：</span>
                                    原味108gx3袋
                                </p>
                            </div>
                        </td>
                        <td class="col-author">
                            <div class="rate-user-info">
                                行
                                <span>***</span>会
                                <span>(匿名)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-master">
                            <div class="rate-content">酸甜可口，谢谢掌柜的，包装很棒</div>
                            <div class="rate-date">03.02</div>
                        </td>
                        <td class="col-meta">
                            <div class="rate-sku">
                                <p>
                                    <span>食品口味：</span>
                                    原味108gx3袋
                                </p>
                            </div>
                        </td>
                        <td class="col-author">
                            <div class="rate-user-info">
                                加
                                <span>***</span>4
                                <span>(匿名)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-master">
                            <div class="rate-content">老顾客啦，哈哈哈，一如既往地好吃阿，每样都买了一些，第一次买草莓干，草莓很酸，一点也不甜，不知道是都这样，还是个别草莓的事，总的来说，还是挺好的，但是鸭舌买错了味道，鸭舌之前买的酱香，结果买错了，买的甜辣，第一次吃甜辣，很惊喜，味道也不错。快快吃没，还回来回购哦，满分！(下次带一些小包装试吃的东西，就最好了)</div>
                            <div class="rate-date">01.02</div>
                        </td>
                        <td class="col-meta">
                            <div class="rate-sku">
                                <p>
                                    <span>食品口味：</span>
                                    原味108gx3袋
                                </p>
                            </div>
                        </td>
                        <td class="col-author">
                            <div class="rate-user-info">
                                相
                                <span>***</span>4
                                <span>(匿名)</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="./js/render.js"></script>
<dl class="detail-sidebar" id="side">
    <dd class="idsItem">
        <a href="javascript:;">商品参数</a>
    </dd>
    <dd class="idsItem">
        <a href="javascript:;">物流快递</a>
    </dd>
    <dd class="idsItem">
        <a href="javascript:;">品质保障</a>
    </dd>
    <dd class="idsItem">
        <a href="javascript:;">商品展示</a>
    </dd>
</dl>
{% include "./weibu.html" %}
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/detailSide.js"></script>
<script src="./js/gouwu.js" type="text/javascript"></script></script> {% endblock %}