*{
	padding: 0;
	margin: 0;
	list-style: none;
}
body{
	font-size: 12px;
	font-family: '微软雅黑','Microsoft YaHei';
	background-color: red;
}
/*.head{
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	width: 72%;
	z-index: 10;
	height: 80px;
	min-width: 1000px;
	max-width: 1200;
	display: none;
}
.head img{
	width:1194px;
	margin: 0px 0.5%;
	z-index: 10;
	display: block;
	height: 80px;
	border: 0px;
	background: url(../img/head-bg.png);
}*/
dl.nav{
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	width: 72%;
	z-index: 10;
	height: 80px;
	/*background-color: red;*/
	min-width: 1000px;
	max-width: 1200;
}
dl.nav dt{
	width: 12%;
	float: left;
	margin-top: 10px;
}
img{
	width: 100%;
	display: block;
	height: auto;
	border: 0px;
}
dl.nav dd.menu{
	width: 81%;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
}
dl.nav dd{
	float: left;
	width: 3%;
	text-align: center;
	margin-top: 20px;
	display: block;
}
dl.nav dd a{
	line-height: 20px;
	width: 66px;
	height: 30px;
	color: #fff;
	float: right;
	display: block;
	margin-left: 7px;
	text-decoration: none;
}
#nav9{
	margin-left: 10px;
}
#nav8{
	margin-left: 7px;
}
#nav7{
	margin-left: 7px;
}
#nav6{
	margin-left: 7px;
}
#nav5{
	margin-left: 10px;
}
#nav4{
	margin-left: 10px;
}
#nav3{
	margin-left: 10px;
}
#nav2{
	margin-left: 10px;
}
#nav1{
	margin-left: 10px;
}

dl.nav dd span{
	width: 56px;
	display: block;
	height: 16px;
	float: right;
	border-right: 1px solid #fff;
	margin-top: 4px;
}
.home{
	right: 0px;
	left: 0px;
	position: absolute;
	margin: 0px auto;
	overflow: hidden;
}
.home .homebg{
	margin: 0px auto;
	width: 100%;
	position: relative;
}




