a {
  text-decoration: none; }

.rtoolbar {
  width: 36px;
  height: 400px;
  position: fixed;
  z-index: 100;
  top: 20%;
  right: 0;
  overflow: visible;
  background-color: #37383c; }
  .rtoolbar ul {
    list-style: none;
    width: 36px;
    top: 120px;
    height: 330px;
    z-index: 100; }
    .rtoolbar ul li .icon, .rtoolbar ul li .icon1 {
      position: relative;
      margin-top: 7px;
      padding-bottom: 7px;
      text-align: center;
      display: block;
      color: #fff;
      z-index: 100;
      cursor: pointer;
      font-size: 12px;
      line-height: normal; }
      .rtoolbar ul li .icon a .tab-ico, .rtoolbar ul li .icon1 a .tab-ico {
        z-index: 100;
        width: 37px;
        height: 37px;
        background-image: url(../imgs/toolbar.png);
        background-repeat: no-repeat;
        position: absolute; }
      .rtoolbar ul li .icon a .tab-text, .rtoolbar ul li .icon1 a .tab-text {
        width: 78px;
        height: 37px;
        left: -78px;
        font-style: normal;
        font-weight: 500;
        display: block;
        text-align: center;
        line-height: 37px;
        position: absolute;
        overflow: visible;
        background-color: #484c4f;
        color: #fff;
        font-size: 12px;
        z-index: 101; }
    .rtoolbar ul li .icon {
      width: 36px;
      height: 36px; }
      .rtoolbar ul li .icon:hover em {
        color: red;
        transition: all 0.25s linear 0s;
        left: -78px;
        display: block; }
      .rtoolbar ul li .icon a .member {
        background-position: -37px -327px; }
      .rtoolbar ul li .icon a .focus {
        background-position: -37px -143px; }
      .rtoolbar ul li .icon a .qrcode {
        left: 0px;
        background-position: -112px -463px; }
        .rtoolbar ul li .icon a .qrcode .qrdesc {
          background: url(../imgs/qrcode.png) no-repeat;
          display: none;
          width: 95px;
          height: 95px; }
        .rtoolbar ul li .icon a .qrcode:hover .qrdesc {
          display: block; }
      .rtoolbar ul li .icon a .tabtop {
        background-position: -74px -465px; }
    .rtoolbar ul li .icon1 {
      width: 36px;
      height: 130px;
      background-color: #484c4f; }
      .rtoolbar ul li .icon1 a .cart {
        left: 7px;
        background-position: -45px -235px; }
      .rtoolbar ul li .icon1 a .carttext {
        font-size: 14px;
        display: block;
        color: #ddd;
        position: absolute;
        top: 45px;
        padding: 0 5px 5px; }
      .rtoolbar ul li .icon1 a #buyNum {
        display: block;
        width: 19px;
        height: 18px;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 100px;
        right: 9px;
        line-height: 18px;
        text-indent: -2px;
        font-weight: bold;
        margin: 0 auto;
        border-radius: 50%;
        background-color: #f87762; }